html * {
   font-family: Georgia;
   font-size: 15px;
}

header {
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#menu {
	width: 800px;
	min-height: 20px;
	margin-left: auto;
    margin-right: auto;
}

table {
	float: left;
	text-align: left;
	table-layout: fixed;
    width: 500px;
}

th, td {
	table-layout: fixed;
    width: 100px;
}

#welcome {
	float: right;
	margin-top: 3px;
}

#main {
    width: 800px;
    min-height: 300px; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

footer {
    width: 790px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    overflow: hidden;
}

h1 {
    font-size: 35px;
    display: inline-block;
}

h2 {
    font-size: 35px;
    display: inline-block;
}

h3 {
	font-size: 20px;
}

#register_label {
	margin-right: 100px;
}

#login_label {
	margin-right: 125px;
}

#login_result, #register_result {
	font-weight: bold;
	margin-top: 10px;
	text-align:center;
}

#form_login {
	min-height: 260px;
	width: 305px;
	float: left;
	text-align: right;
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 5px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#form_register {
	min-height: 260px;
	width: 350px;
	float: right;
	text-align: right;
	padding-top: 20px;
	padding-right: 100px;
	padding-left: 5px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#game {
	min-height: 200px;
	width: 599px;
	float: left;
	text-align: center;
	padding-top: 80px;
	padding-right: 100px;
	padding-left: 100px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#form_to_guess {
	float: left;
	margin-left: -20px;
	margin-top: -40px;
}

#try_sequence {
	margin-top: 30px;
}

#abandon, #spinner_end_game {
	margin-top: 30px;
}

#attempts_table_div {
	float: right;
	margin-top: -50px;
	margin-right: 20px;
	width: 300px;
}

#ranking_table, #user_games_table, #game_attempts_table {
	width: 600px;
	margin-top: -50px;
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
}

.td_ranking {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
}

.back_to_ranking {
	margin-top: 15px;
}

#win_message {
	font-size: 30px;
	font-weight: bold;
}

#rules {
	min-height: 220px;
	width: 599px;
	float: left;
	text-align: center;
	padding-top: 60px;
	padding-right: 100px;
	padding-left: 100px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#ranking {
	min-height: 200px;
	width: 599px;
	float: left;
	text-align: center;
	padding-top: 80px;
	padding-right: 100px;
	padding-left: 100px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#general_inf {
	width: 800px;
	min-height: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

#game_inf, #logout {
	float: left;
}

#user_inf {
	float: right;
}

#author {
    float: left;
    width: auto;
}

#exam_session {
    float: right;
    width: auto;
}

.error {
 	border-style: solid;
    border-width: medium;
    border-color: #DC143C;
}